@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5100E0;
}

header {
    background-color: #286132 ;
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 0px 4px 8px black;
}

#resultado {
    background-color: white;
    width: 200px;
    height: 35px;
    margin: 5px;
    border-radius: 3px;
    font-size: 22px;
    color: black;
    text-align: right;
    padding: 5px;
}

.calculadora {
    position: absolute;
    background-color: #4C278F;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px black;
    text-align: center;
}

.botao {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    font-size: 25px;
    margin: 1px;
}

.operator {
    background-color: #0BE634;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    font-size: 25px;
    margin: 1px;
}

.botao:hover, .operator:hover {
    background-color: rgba(128, 128, 128, 0.575);
}