@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2fa866;
}

h1 {
    text-align: center;
    padding: 15px;
    color: white;
    text-shadow: 0px 2px 5px black;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.404);
}

.num p{
    margin-bottom: 10px;
    font-weight: bold;
}

.num label {
    font-weight: bold;
}

.texto {
    padding: 1px;
    width: 110px;
}

.botao {
    background-color: #83e1ad;
    padding: 1px;
}

.limpar {
    background-color: #83e1ad;
    padding: 1px;
}

#res{
    display: block;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}