@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Shrikhand&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f10404;
}

header > h1 {
    text-align: center;
    font-family: "Mogra", system-ui;
    font-size: 3em;
    color: white;
    margin: 40px 0px;
    padding: 10px;
}

section > div.pergunta{
    text-align: center;
    color: white;
    margin: 70px 0px;
}

section > div.btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

button{
    margin: 20px 20px;
    width: 120px;
    height: 60px;
    background-color: black;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    font-size: 2em;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.856);
    width: 110px;
    height: 50px;
}

.tela {
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-out {
    opacity: 0;
    transform: translateY(-20px);
}